$primary-color: #5bacc3;
$secondary-color: #fff0ed;
$primary-font-color: #393939;
$secondary-font-color:#fff;
$alternate-color: #909090;
$color-modifier: #f7f7f7;
$font-stack: "Open Sans", sans-serif;